{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
   </style>
    <title>Non veg site</title>
  </head>
  <body >
    
    <center><h1 class="badge badge-primary">GISMAT RESTARAUNT</h1> </center>
    <center> <h4 class="badge badge-dark">Non-veg items</h4>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'images/nv1.jpg'%}" alt="non veg restaruant" width="200px",height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5  class="badge badge-danger">NON VEG SPECIAL CHICKEN THALI</h5>
              <p class="text-primary">A thali is a combination of various dishes put together to make a whole meal. An average non-vegetarian thali usually contains salad, rice, chappati and gravy or dry chicken..</p>
              <p class="badge badge-pill badge-success"><small >available</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{%static 'images/nv2.jpg' %}" alt="non veg restaruant" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="badge badge-danger">NON VEG SPECIAL CHICKEN POT</h5>
              <p class="text-primary">This one-pot chicken biryani is a quick version of a biryani made with basmati rice, a host of spices and caramelised onions, along with a yogurt-based marinade that keeps the chicken tender and juicy.</p>
              <p class="badge badge-pill badge-success"><small >TODAY UNAVALIABLE</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'images/nv3.jpg' %}" alt="non veg restaruant" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="badge badge-danger">NOV VEG SPECIAL INDIAN RECIPE</h5>
              <p class="text-primary">This is a really good recipe for spicy Indian chicken curry. It's pretty easy to make and tastes really good!

                .</p>
              <p class="badge badge-pill badge-success"><small >TODAY SPECIAL</small></p>
            </div>
          </div>
        </div>
      </div>
      <a class="badge badge-pill badge-warning" href="{% url 'babu:app2' %}" role="button">CLICK enter app2</a>
      
      <a class="badge badge-pill badge-warning" href="{% url 'paru:app3' %}" role="button">CLICK enter app3</a>
      
    </center>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>